body {
    background: rgb(214, 214, 191);
}

h1 {
    color: rgb(117, 116, 110);
    text-align: center;
    font-family: 'Trebuchet MS';
}

div {
    padding-top: 60px;
}

h2 {
    color: rgb(117, 116, 110);
}

ol {
    color: green;
    font-family: fantasy;
}

img {
    width: 200px;
}